
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #4d0843; 
  line-height: 1.6;
  background-color: #d6bfd3; 
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
}


.wrapper {
  width: 100%;
  max-width: 900px; 
  margin: 0 auto; 
  padding: 20px; 
  box-sizing: border-box; 
  text-align: center; 
}


.header-container {
  background-color: white;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.links-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.links-container a {
  text-decoration: none;
  color: white;
  background-color: #4d0843;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
}

.links-container a:hover {
  background-color: #3b0632;
}


h1 {
  font-size: 2.5em;
  color: #4d0843;
  text-align: center;
  margin-top: 0;
}


section {
  margin-bottom: 2.5em;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.chart-description h2 {
  font-size: 1.5em;
  color: #4d0843;
}

.chart-description p {
  margin-bottom: 20px;
  color: #4d0843;
}


figure {
  width: 100%;
  max-width: 600px; 
  margin: 0 auto 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}


section:hover {
  background-color: #e9e9e9;
}
